<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="{% static 'movieapp/css/reset.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'movieapp/css/style.css' %}"/>
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar__wrap">
          <div class="hamb">
            <div class="hamb__field" id="hamb">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
          </div>
          <a href="{% url 'home' %}" class="logo" id="logo">РЕЦЕНЗИИ НА ФИЛЬМЫ</a>
          <ul class="menu" id="menu">
            <li><a href="{% url 'films' %}">Фильмы</a></li>
            <li><a href="{% url 'news' %}">Новости</a></li>
            {% if request.user.profile.is_worker %}
            <li><a href="{% url 'add_film' %}">Добавить фильм</a></li>
            <li><a href="{% url 'add_news' %}">Добавить новость</a></li>
            {% endif %}
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'show_profile' 'my' %}">{{request.user.username}}</a></li>
            <li><a href="{% url 'logout' %}">Выйти</a></li>
            {% else %}
            <li><a href="{% url 'register' %}">Регистрация</a></li>
            <li><a href="{% url 'login' %}">Войти</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="popup" id="popup"></div>
    {% block welcomeblock %}
    {% endblock welcomeblock %}
    <main class="main">
      <div class="container">
        <div class="content" id="mainContent">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="content">
            <li class="footer_content"><a href="{% url 'films' %}" class="footer_content">Фильмы</a></li>
            <li class="footer_content"><a href="{% url 'news' %}" class="footer_content">Новости</a></li>
            <li class="footer_content"><a href="{% url 'home' %}" class="footer_content">Главная страница</a></li>

        </div>
      </div>
    </footer>
    <script src="{% static 'movieapp/js/script.js' %}"></script>
  </body>
</html>