{% extends 'movieapp/base.html' %}

{% block title %}Добавление фильма{% endblock title %}

{% block welcomeblock %}

    <header class="header">

    </header>

{% endblock welcomeblock %}

{% block content %}

<form action="{% url 'add_film' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button type="submit">Добавить фильм</button>
</form>
{% endblock content %}